nodered.json
[{"id":"286cdfab.44c5a","type":"tab","label":"Final_Project_Flow","disabled":false,"info":""},{"id":"c62ab9db.05132","type":"tcp in","z":"286cdfab.44c5a","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"buffer","newline":"~E","topic":"","base64":false,"x":270,"y":60,"wires":[["11c40b70.4a4a0d"]]},{"id":"11c40b70.4a4a0d","type":"function","z":"286cdfab.44c5a","name":"Serial Msg IN","func":"//PUB messages have length equal to 5 bytes\nvar PAYLOAD_BYTES = 5;\nvar tinyos_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttinyos_payload = context.bytes_array.slice(10,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//Get the payload\n\tvar byte_payload = new Buffer(tinyos_payload.length);\n\tfor(var i=0;i<tinyos_payload.length;i++){\n\t\tbyte_payload[i] = tinyos_payload[i];\n\t}\n\t\n\t//Get temperature messages (topic id 0)\n\tif(byte_payload.readUInt8(2,3) == 0){\n\t\tmsg.type = \"PUBLISH\";\n\t\tmsg.topic=\"TEMPERATURE\";\n\t\tmsg.payload = {};\n\t\tmsg.payload.sender_node=byte_payload.readUInt8(1,2);\n\t\tmsg.payload.payload=byte_payload.readUInt16BE(3,5);\n\t}\n\t\n\t//Get humidity messages (topic id 1)\n\tif(byte_payload.readUInt8(2,3) == 1){\n\t\tmsg.type=\"PUBLISH\";\n\t\tmsg.topic=\"HUMIDITY\";\n\t\tmsg.payload = {};\t\t\n\t\tmsg.payload.sender_node=byte_payload.readUInt8(1,2);\n\t\tmsg.payload.payload=byte_payload.readUInt16BE(3,5);\n\t}\n\n    //Get luminosity messages (topic id 2)\n\tif (byte_payload.readUInt8(2,3) == 2) {\n\t\tmsg.type = \"PUBLISH\";\n\t\tmsg.topic = \"LUMINOSITY\";\n\t\tmsg.payload = {};\n\t\tmsg.payload.sender_node = byte_payload.readUInt8(1,2);\n\t\tmsg.payload.payload = byte_payload.readUInt16BE(3, 5);\n\t}\n\n\treturn msg;\t\n}\n\nelse{\n\treturn null;\n}\n","outputs":"1","noerr":0,"x":233.0000228881836,"y":179.99997806549072,"wires":[["3bacff07.7842a8"]]},{"id":"e536d2bf.418ba8","type":"debug","z":"286cdfab.44c5a","name":"Debug Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":664.9999542236328,"y":50.999999046325684,"wires":[]},{"id":"93305ba4.cdd49","type":"debug","z":"286cdfab.44c5a","name":"Debug Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":420,"wires":[]},{"id":"bb5fc5ac.50fb08","type":"switch","z":"286cdfab.44c5a","name":"Switch Msg Types","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"TEMPERATURE","vt":"str"},{"t":"eq","v":"HUMIDITY","vt":"str"},{"t":"eq","v":"LUMINOSITY","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":380,"wires":[["e536d2bf.418ba8","f6467299.d75ec"],["93305ba4.cdd49","5a9547a1.f3796"],["fc14eba1.ffd95","63e09b7c.b4b14c"]]},{"id":"fc14eba1.ffd95","type":"debug","z":"286cdfab.44c5a","name":"Debug Luminosity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":680,"wires":[]},{"id":"3bacff07.7842a8","type":"function","z":"286cdfab.44c5a","name":"Filter wrong packets","func":"var sender_node = msg.payload.sender_node;\nvar payload = msg.payload.payload;\n\n//if the sender is not node 1 or the payload\n//contains a value > 50 then we discard the \n//packet\nif(sender_node == 1 && payload <= 50) {\n    return msg;\n}","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["bb5fc5ac.50fb08"]]},{"id":"c5dd816e.8dbe28","type":"mqtt out","z":"286cdfab.44c5a","name":"Thingspeak Temperature","topic":"channels/2235049/publish","qos":"0","retain":"","broker":"d61156e5.bf368","x":960,"y":60,"wires":[]},{"id":"c7545752.309b68","type":"mqtt out","z":"286cdfab.44c5a","name":"Thingspeak Humidity","topic":"channels/2235049/publish","qos":"0","retain":"","broker":"d61156e5.bf368","x":950,"y":300,"wires":[]},{"id":"c99ab355.a29d58","type":"mqtt out","z":"286cdfab.44c5a","name":"Thingspeak Luminosity","topic":"channels/2235049/publish","qos":"0","retain":"","broker":"d61156e5.bf368","x":1000,"y":560,"wires":[]},{"id":"f6467299.d75ec","type":"function","z":"286cdfab.44c5a","name":"Prepare temperature","func":"var newMsg = { \n    payload: \"field1=\" + \n              msg.payload.payload +\n              \"&status=MQTTPUBLISH\" \n\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["c5dd816e.8dbe28"]]},{"id":"5a9547a1.f3796","type":"function","z":"286cdfab.44c5a","name":"Prepare humidity","func":"var newMsg = { \n    payload: \"field2=\" + \n              msg.payload.payload +\n              \"&status=MQTTPUBLISH\" \n\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["c7545752.309b68"]]},{"id":"63e09b7c.b4b14c","type":"function","z":"286cdfab.44c5a","name":"Prepare luminosity","func":"var newMsg = { \n    payload: \"field3=\" + \n              msg.payload.payload +\n              \"&status=MQTTPUBLISH\" \n\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":540,"wires":[["c99ab355.a29d58"]]},{"id":"d61156e5.bf368","type":"mqtt-broker","z":"","name":"IoT final project","broker":"mqtt3.thingspeak.com ","port":"1883","clientid":"Ig8IKiY5ECs4NyMiBjglECA","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
